<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647373231708-an4tov7jkp6i0d0mjh7ue13onjvsmaos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647373231708-an4tov7jkp6i0d0mjh7ue13onjvsmaos</string>
	<key>API_KEY</key>
	<string>AIzaSyBlcg4RJYDb3F8N4XOsoS3uLKUuj-UzYdo</string>
	<key>GCM_SENDER_ID</key>
	<string>647373231708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.missouri.MessengerApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-drake-74f49</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-drake-74f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647373231708:ios:273d651ab35121a6fa3899</string>
</dict>
</plist>